@page
@model DeletePersonalDataModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA");
  ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="alert alert-warning" role="alert">
  <p>
    <strong>@IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_TEXT")</strong>
  </p>
</div>

<div>
  <form id="delete-user" method="post" class="form-group">
    <div asp-validation-summary="All" class="text-danger"></div>
    @if (Model.RequirePassword)
    {
      <div class="form-group">
        <label asp-for="Input.Password">@IdentityLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
        <input asp-for="Input.Password" class="form-control" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
      </div>
    }
    <button class="btn btn-danger" type="submit">
      @IdentityLocalizer.GetLocalizedHtmlString("DELETE_PERSONAL_DATA_AND_CLOSE")
    </button>
  </form>
</div>