
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OpenIddict UI Sample Server</title>
  <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="shell">
  <header class="header">
    <div class="header__logo">
      <a style="text-decoration: none;" href="/">OpenIddict UI Sample Server</a>
    </div>
    <div class="header__login-info">
      <ul class="navbar-nav flex-grow-1">
        <partial name="_NavItemsPartial" />
      </ul>
    </div>
  </header>

  <main class="content" role="main">
    @RenderBody()
  </main>

  <footer class="footer">
    <div class="footer__left">
      <p>by <a href="https://www.tomware.ch" target="_blank">tomware SOLUTIONS</a></p>
    </div>
    <div class="footer__right">
    </div>
  </footer>
</body>

</html>
