@page
@model AccessDeniedModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("ACCESS_DENIED");
}

<header>
  <h1>@ViewData["Title"]</h1>
  <p>@IdentityLocalizer.GetLocalizedHtmlString("ACCESS_DENIED_TEXT")</p>
</header>
