@page
@model ForgotPasswordModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD");
}

<div class="pane">
  <div class="pane__content">
    <form class="form" method="post">
      <div class="form__validation-summary" asp-validation-summary="All"></div>
      <div class="form__group">
        <label asp-for="Input.Email">@IdentityLocalizer.GetLocalizedHtmlString("EMAIL")</label>
        <input asp-for="Input.Email" />
        <span asp-validation-for="Input.Email"></span>
      </div>
      <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("SUBMIT")</button>
    </form>
  </div>
  <div class="pane__aside">
  </div>
</div>

