@page
@model ForgotPasswordConfirmation
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}

<p>
  @IdentityLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT");
</p>

