@page
@model LoginWithRecoveryCodeModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] =  @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE_VERIFICATION");
}

<p>
  @IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE_VERIFICATION_TEXT")
</p>
<div>
  <div>
    <form class="form" method="post">
      <div class="form__validation-summary" asp-validation-summary="All"></div>
      <div class="form__group">
        <label asp-for="Input.RecoveryCode">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_RECOVERY_CODE")</label>
        <input asp-for="Input.RecoveryCode" autocomplete="off" />
        <span asp-validation-for="Input.RecoveryCode"></span>
      </div>
      <button type="submit">@IdentityLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
    </form>
  </div>
</div>

