@page
@model ResetPasswordConfirmationModel
@inject IdentityLocalizationService IdentityLocalizer
@{
  ViewData["Title"] = @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION");
}

<p>
  @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_TEXT1")
  <a asp-page="./Login">
    @IdentityLocalizer.GetLocalizedHtmlString("RESET_PASSWORD_CONFIRMATION_CLICK_HERE")
  </a>.
</p>
