@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
  var requestCulture = Context.Features.Get<IRequestCultureFeature>();
}

<ul>
  @foreach (var item in LocOptions.Value.SupportedUICultures)
    {
      <li>
        @if(requestCulture.RequestCulture.Culture.TwoLetterISOLanguageName == item.TwoLetterISOLanguageName)
        {
          <span class="selected-language">@item.TwoLetterISOLanguageName</span>
        }
        else
        {
          <a asp-controller="Language"
             asp-action="Index"
             asp-route-culture="@item.Name"
             asp-route-returnUrl="@Context.Request.Path">@item.TwoLetterISOLanguageName</a>
        }
      </li>
    }
</ul>